<div class="messageWrapper" 
  [ngClass]="{'messageUnreaded': !message.readed }"
  (click)="onReadMessege()"
  (dblclick)="onUnreadMessage()"
>
  <p class="massageAvatar articleBoxElementAvatar" 
    [ngStyle]="{'background-image': 'url(' + message.avatar + ')'}"
  ></p>
  <div class="textArea">
    <p>{{message.name}}<span>{{message.date}}</span></p>
    <p>{{message.message_text}}</p>
    <div class="buttons">
      <div class="backButton"></div>
      <div class="settingsButton"></div>
    </div>
  </div>
  <div class="options"></div>
</div>