<div class="homeHeaderContainer">
  <ul class="nav">
      <li><a href="#">Project 1</a></li>
      <li><a routerLinkActive="activeLink" routerLink="project2">Project 2</a></li>
      <li><a href="#">Project 3</a></li>
  </ul>
  <ul class="setings">
    <li><button type="button" class="addProject">Add project</button></li>
    <li><a href="#"></a></li>
    <li><a href="#"><span class="messagesCounter">3</span></a></li>
    <li><a href="#" class="userProfile"></a></li>
    <li><a href="#" class="userProfileOpen"></a></li>
  </ul>
</div>

